{% import "FormGenerator/macros/checkbox.html.twig" as checkbox %}
{% import "FormGenerator/macros/textarea.html.twig" as textarea %}
{% import "FormGenerator/macros/select.html.twig" as select %}
{% import "FormGenerator/macros/text.html.twig" as text %}
{% import "FormGenerator/macros/hidden.html.twig" as hidden %}
{% import "FormGenerator/macros/alert.html.twig" as alert %}

{% set fieldsPerRow = fieldsPerRow == 5 ? 6 : fieldsPerRow|default(2) %}
{% set bcols = fieldsPerRow < 6 ? ((12 / fieldsPerRow) | round) : 1 %}
{% set bcols1 = bcols %}
{% set fieldno = 0 %}
{% set lastclass = 12 %}
{% for name, input in fields %}
  {% if input.type == "hidden" %}
    {{ hidden.generate(input) }}
  {% elseif input.type == "alert" %}
    {{ alert.generate(input) }}
  {% else %}
    {% if not input.hidden %}
      {% set fieldno = fieldno + 1 %}
      {% if lastclass == 12 %}
        <div class="formgen-row crud-row row">
        {% endif %}
        {% if (input.newline == 'Y') %}
          {% set bcols1 = lastclass %}
          {% set lastclass = 0 %}
        {% else %}
          {% set bcols1 = bcols %}
          {% set lastclass = lastclass -  bcols %}
        {% endif %}
        <div class="col-md-{{bcols1}} cols-{{bcols}} lastclass-{{lastclass}}">
          <div class="form-group has-feedback  formgen-field crud-input" style='width:100%;'>
            <label for="{{input.id}}" class="sr-only">
              {% if input.label %}{{translate(input.label)}}
              {% else %}&nbsp;{% endif %}
            </label>
            {% if input.type == "textarea" %}
              {{ textarea.generate(input) }}
            {% elseif input.type == "checkbox" %}
              {{ checkbox.generate(input) }}
            {% elseif input.type == "select" %}
              {{ select.generate(input) }}
            {% else %}
              {{ text.generate(input) }}
            {% endif %}
          </div>
        </div>
        {% if lastclass == 0 %}
        </div>
        <!-- end of FormGen Row -->
        {% set lastclass = 12 %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
{% if lastclass != 0 and lastclass != 12 %}
  <div class="col-md-{{lastclass}} lastclass"></div>
</div>
{% endif %}
<!-- end of FormGenForm -->