{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {# {{ encore_entry_link_tags('page.groups') }} #}
    {# {{ encore_entry_link_tags('page.'~ crud5.model) }}
    #}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ crud5.title }}{% endblock %}

{% block page_description %}{{ crud5.description }}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div id="widget-{{crud5.model}}" class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fas fa-fw fa-users"></i> {{translate('CRUD', 2)}}</h3>
                    {% include "tables/table-tool-menu.html.twig" %}
                </div>
                <div id="widget-upddel-{{crud5.model}}" class="box-body">
                    {% include "tables/crudlist.html.twig" with {
                            "table" : crud5.table,
                            "cr5model" : crud5.model
                        }
                    %}
                </div>
                {% if checkAccess('create_group') %}
                <div id="widget-create-{{crud5.model}}" class="box-footer">
                    <button type="button" class="btn btn-success js-crud5-create1 js-displayForm" data-target='crudlist-create-form' data-toggle="modal" data-formUrl="/modals/crud5/{{crud5.model}}/create">
                        <i class="fas fa-plus-square"></i>  {{translate("CRUD.CREATE")}}
                    </button>

                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "pages/partials/page.js.twig" %}

    page = $.extend(
        true, // deep extend
        {
            "cr5model": "{{crud5.model}}"
        },
        page
    );

    </script>    
    {#{ assets.js('js/FormGenerator') | raw }#}

    <!-- Include page-specific JS -->
    {{ encore_entry_script_tags('widget.formGenerator') }}
    {{ encore_entry_script_tags('page.crudlist') }}

{% endblock %}
