{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ encore_entry_link_tags('page.groups') }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("CRUD", 2) }}{% endblock %}

{% block page_description %}{{ translate("CRUD.PAGE_DESCRIPTION") }}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div id="widget-{{cr5model}}" class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fas fa-fw fa-users"></i> {{translate('CRUD', 2)}}</h3>
                    {% include "tables/table-tool-menu.html.twig" %}
                </div>
                <div class="box-body">
                    {% include "tables/crudlist.html.twig" with {
                            "table" : {
                                "id" : "table-{{cr5model}}"
                            }
                        }
                    %}
                </div>
                {% if checkAccess('create_group') %}
                <div class="box-footer">
                    <button type="button" class="btn btn-success js-{{cr5model}}-create">
                        <i class="fas fa-plus-square"></i>  {{translate("CRUD.CREATE")}}
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "pages/partials/page.js.twig" %}

    page = $.extend(
        true, // deep extend
        {
            "cr5model": "{{cr5model}}"
        },
        page
    );

    </script>    

    <!-- Include page-specific JS -->
    {{ encore_entry_script_tags('page.crudlist') }}

{% endblock %}
