{# This partial template renders a table of groups, to be populated with rows via an AJAX request.
 # This extends a generic template for paginated tables.
 #
 # Note that this template contains a "skeleton" table with an empty table body, and then a block of Handlebars templates which are used
 # to render the table cells with the data from the AJAX request.
#}
{% extends "tables/table-paginated.html.twig" %}
{% if table.macrofile is not empty %}
    {# This is a custom table with custom cell templates #}
    {% import table.macrofile as custommacro %}
{% endif %}
{% import 'macros/crudlist-default.twig' as defaultmacro %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="{{table.sortlist}}">
        <thead>
            <tr>
            {% for name, column in table.columns %}
                <th class="sorter-metatext" data-column-name="{{name}}" 
                {#% if column.template is not empty % #}
                    data-column-template="#crudlist-table-column-{{name}}" 
                {#% endif %#}
                
                data-filter="{{column.filter|default(false)?'true':'false'}}"
                     data-priority="{{loop.index}}">{{translate(column.label)}}
                     {% if column.filter %}
                        <i class="fas fa-sort"></i>
                    {% endif %}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {# This contains a series of <script> blocks, each of which is a client-side Handlebars template.
     # Note that these are NOT Twig templates, although the syntax is similar.  We wrap them in the `verbatim` tag,
     # so that Twig will output them directly into the DOM instead of trying to treat them like Twig templates.
     #
     # These templates require handlebars-helpers.js, moment.js
    #}
        <!-- Cell Templates Start here table.macrofile: {{table.macrofile}} -->
        {% for name, column in table.columns %}
        <!-- Field Templates Start here {{name}} - {{column.template}} -->
            {% set coltemplate = column.template | default('text') %}
            {% if table.macrofile is not empty %}
                {% set fieldTemplate = custommacro.customFormat(coltemplate, name, cr5model) | trim -%}
            {% else %}
                {% set fieldTemplate = '' %}
            {% endif %}
                <!-- Custom for{{name}} - {{coltemplate}} -->
            {% if fieldTemplate|length == 0 %}
                <!-- Loading Default for {{name}} - {{coltemplate}} -->
                {% set fieldTemplate =  defaultmacro.defaultFormat(coltemplate, name, cr5model) %}
            {% endif %}
            {{fieldTemplate}}
        {% endfor %}
        <!-- Cell Templates End here -->
{% endblock %}
