{# This partial template renders a table of groups, to be populated with rows via an AJAX request.
 # This extends a generic template for paginated tables.
 #
 # Note that this template contains a "skeleton" table with an empty table body, and then a block of Handlebars templates which are used
 # to render the table cells with the data from the AJAX request.
#}

{% extends "tables/table-paginated.html.twig" %}

{% import _self as crudfield %}
{% macro addHBTemplate(type,name,model) %}
    {% if type == 'text' %}
        {% verbatim %}
        <script id="crudlist-table-column-{% endverbatim %}{{name}}{% verbatim %}" type="text/x-handlebars-template">
            <td>
                {{row.{% endverbatim %}{{name}}{% verbatim %}}}
            </td>
        </script>
        {% endverbatim %}
    {% elseif type == 'info' %}
        {% verbatim %}
        <script id="crudlist-table-column-{% endverbatim %}{{name}}{% verbatim %}" type="text/x-handlebars-template">
            <td data-text="{{row.{% endverbatim %}{{name}}{% verbatim %} }}">
                <strong>
                <a href="{{site.uri.public}}/{% endverbatim %}{{model}}{% verbatim %}/r/{{row.id}}">{{row.{% endverbatim %}{{name}}{% verbatim %}}}</a>
                </strong>
            </td>
        </script>
        {% endverbatim %}
    {% elseif type == 'actions' %}
        {% verbatim %}
        <script id="crudlist-table-column-actions" type="text/x-handlebars-template">
            <td>
                <div class="btn-record">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        {% endverbatim %}{{translate("ACTIONS")}}{% verbatim %}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li>
                            <a href="#" data-id="{{row.id}}" class="js-record-edit">
                            <i class="fas fa-edit"></i> {% endverbatim %}{{translate("EDIT")}}{% verbatim %}
                            </a>
                        </li>
                        <li>
                            <a href="#" data-id="{{row.id}}" class="js-record-delete">
                            <i class="fas fa-trash-alt"></i> {% endverbatim %}{{translate("DELETE")}}{% verbatim %}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </script>
        {% endverbatim %}
    {% endif %}

{% endmacro %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="{{table.sortlist}}">
        <thead>
            <tr>
            {% for name, column in table.columns %}
                <th class="sorter-metatext" data-column-name="{{name}}" 
                {% if column.template is not empty %}
                    data-column-template="#crudlist-table-column-{{name}}" 
                {% endif %}
                
                data-filter="{{column.filter|default(false)?'true':'false'}}"
                     data-priority="{{loop.index}}">{{translate(column.label)}}
                     {% if column.filter %}
                        <i class="fas fa-sort"></i>
                    {% endif %}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {# This contains a series of <script> blocks, each of which is a client-side Handlebars template.
     # Note that these are NOT Twig templates, although the syntax is similar.  We wrap them in the `verbatim` tag,
     # so that Twig will output them directly into the DOM instead of trying to treat them like Twig templates.
     #
     # These templates require handlebars-helpers.js, moment.js
    #}
        {% for name, column in table.columns %}
            {{crudfield.addHBTemplate(column.template,name,cr5model)}}
        {% endfor %}        
{% endblock %}
