{# This partial template renders a table of groups, to be populated with rows via an AJAX request.
 # This extends a generic template for paginated tables.
 #
 # Note that this template contains a "skeleton" table with an empty table body, and then a block of Handlebars templates which are used
 # to render the table cells with the data from the AJAX request.
#}
{% extends "tables/table-paginated.html.twig" %}
{% if table.macrofile is not empty %}
    {# This is a custom table with custom cell templates #}
    {% import table.macrofile as custommacro %}
{% endif %}
{% import 'macros/crudlist-default.twig' as defaultmacro %}

{% block table %}
    <div class="table-container">
        <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="{{table.sortlist}}"
            data-table="{{table.schema}}">
            <thead>
                <tr>
                {% for name, column in table.columns %}
                    <th class="sorter-metatext" data-column-name="{{name}}" 
                    {#% if column.template is not empty % #}
                        data-column-template="#crudlist-table-column-{{name}}" 
                    {#% endif %#}
                    
                    data-filter="{{column.filter|default(false)?'true':'false'}}"
                        data-priority="{{loop.index}}">{{translate(column.label)}}
                        {% if column.filter %}
                            <i class="fas fa-sort"></i>
                        {% endif %}
                    </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="chat-box">
            <label for="chat-input" class="form-label"
                ><strong>
                    Type or paste multiple lines of data here e.g. #contact John Smith, john.smith@example.com, 123-456-7890, Lawyer, 9 Jason Bank, jb@example.com,
                    555-123-4567, Developer, 10 Jane Doe, janed@example.com, 555-987-6543, Manager, 8 Taylor Swift, tswift@example.com, 555-321-7654, Singer, 9 #meeting
                    Jason Bank, 2022-12-31, 555-123-4567, jb@jb.com
                </strong></label
            >
            <textarea
                id="chat-input"
                rows="5"
                class="form-control"
                placeholder="Type #contact or #meeting followed by details...Type or paste multiple lines of data here (e.g., John Smith, john.smith@example.com, 123-456-7890, Lawyer, 9)..."
            ></textarea>
            <button id="chat-submit" class="btn btn-primary w-100">Submit</button>
        </div>
    </div>
{% endblock %}

{% block table_cell_templates %}
    {# This contains a series of <script> blocks, each of which is a client-side Handlebars template.
     # Note that these are NOT Twig templates, although the syntax is similar.  We wrap them in the `verbatim` tag,
     # so that Twig will output them directly into the DOM instead of trying to treat them like Twig templates.
     #
     # These templates require handlebars-helpers.js, moment.js
    #}
        <!-- Cell Templates Start here table.macrofile: {{table.macrofile}} -->
        {% for name, column in table.columns %}
        <!-- Field Templates Start here {{name}} - {{column.template}} -->
            {% set coltemplate = column.template | default('text') %}
            {% if table.macrofile is not empty %}
                {% set fieldTemplate = custommacro.customFormat(coltemplate, name, cr5model) | trim -%}
            {% else %}
                {% set fieldTemplate = '' %}
            {% endif %}
                <!-- Custom for{{name}} - {{coltemplate}} -->
            {% if fieldTemplate|length == 0 %}
                <!-- Loading Default for {{name}} - {{coltemplate}} -->
                {% set fieldTemplate =  defaultmacro.defaultFormat(coltemplate, name, cr5model) %}
            {% endif %}
            {{fieldTemplate}}
        {% endfor %}
        <!-- Cell Templates End here -->
{% endblock %}
