{% macro defaultFormat(type,name,model) %}
    {% if type == 'text' %}
        {% verbatim %}
        <script id="crudlist-table-column-{% endverbatim %}{{name}}{% verbatim %}" type="text/x-handlebars-template">
            <td>
                {{row.{% endverbatim %}{{name}}{% verbatim %}}}
            </td>
        </script>
        {% endverbatim %}
    {% elseif type == 'info' %}
        {% verbatim %}
        <script id="crudlist-table-column-{% endverbatim %}{{name}}{% verbatim %}" type="text/x-handlebars-template">
            <td data-text="{{row.{% endverbatim %}{{name}}{% verbatim %} }}">
                <strong>
                <a href="{{site.uri.public}}/{% endverbatim %}{{model}}{% verbatim %}/r/{{row.id}}">{{row.{% endverbatim %}{{name}}{% verbatim %}}}</a>
                </strong>
            </td>
        </script>
        {% endverbatim %}
    {% elseif type == 'actions' %}
        {% verbatim %}
        <script id="crudlist-table-column-actions" type="text/x-handlebars-template">
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        {% endverbatim %}{{translate("ACTIONS")}}{% verbatim %}
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li>
                            <a href="#" data-id="{{row.id}}" class="js-crud5-edit1 js-displayForm"  data-target='crudlist-edit-form-{{row.id}}' data-formUrl="/modals/crud5/{% endverbatim %}{{model}}{% verbatim %}/edit">
                            <i class="fas fa-edit"></i> {% endverbatim %}{{translate("EDIT")}}{% verbatim %}
                            </a>
                        </li>
                        <li>
                            <a href="#" data-id="{{row.id}}" class="js-crud5-delete1 js-displayConfirm"
                            data-confirm-title="Delete project" data-target='crudlist-del-form-{{row.id}}'
                            data-confirm-message="Are your sure you want to delete the project {{project.name}}" 
                            data-confirm-button="Yes, delete project" data-post-url="/{{project.id}}" 
                            data-post-method="DELETE">
                            <i class="fas fa-trash-alt"></i> {% endverbatim %}{{translate("DELETE")}}{% verbatim %}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </script>
        {% endverbatim %}
    {% endif %}

{% endmacro %}